body {
    background-color: #c2affd;
    background-image: url("https://www.transparenttextures.com/patterns/candyhole.png");
    margin: 0
}

/*targets the text beside 'choose a file button' to make it invisible once the user clicks clear.*/
input[type="file"] {
    width: 100%;
    color: transparent;
}

input[type="file"]:hover {
    cursor: pointer;
}